/* Hoja principal SCSS */
@import "./variables";
@import "../../..//node_modules/bootstrap/scss/bootstrap";

/* Estilos generales*/
html,
body {
    height: 100%;
}

body {
    font-family: "Raleway", sans-serif;
    height: 100%;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: $cm-dark;
    background-color: $cm-gray--100;
}
a {
    text-decoration: none;
    color: inherit;
}

i{
    -webkit-text-stroke: 1px ;
}

/* Layout */
.wrapper {
    padding: 80px;
    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        padding: 20px;
    }
}

/* Texto */
.cm-text--dark {
    color: $cm-dark;
}
.cm-text--light {
    color: $cm-light;
}

.cm-text--green {
    color: $cm-primary;
}

.cm-text--grey {
    color: $cm-gray--300;
}
.cm-text--dark---grey {
    color: $cm-gray--400;
}

.cm-text-600 {
    font-weight: 600;
}

.cm-text-700 {
    font-weight: 600;
}

.section-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.num {
    font-family: "Roboto", sans-serif;
    font-weight: 500 !important;
    letter-spacing: 0.02rem;
}

/* Header */
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    /* Profile */
    .profile {
        display: flex;
        background-color: $cm-white;
        border-radius: 90px;
        align-items: center;
        padding-right: 16px;
        h4 {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 700;
        }
        .profile-img {
            background-color: $cm-black;
            border-radius: 100%;
            padding: 11px 9px;
            color: $cm-gray--500;
            display: flex;
            align-items: center;
            font-size: 15px;
        }
        .dropdown-toggle {
            color: $cm-black;
            font-weight: 600;
            &::after {
                display: none;
            }
            i {
                margin-left: 15px;
                color: $cm-gray--300;
            }
        }
    }
    /* Return */
    .return {
        p {
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
        }

        i {
            margin-right: 12px;
        }
    }
}

/* Logo */
#logo {
    h1 {
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
    }
    span {
        font-weight: 800;
    }
}

/* Forms */
form {
    .form-label {
        margin-bottom: 12px;
    }

    .form-control {
        border-radius: $cm-border--radius;
        font-size: inherit;
        line-height: 12px;
        padding: 10px 15px;
        margin-bottom: 30px;
        background-color: $cm-gray--100;
        border-color: $cm-gray--100;
        color: $cm-gray--300;
        &:focus {
            color: #4e4f50;
            background-color: #fff;
            border-color: $cm-primary;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13, 253, 141, 0.25);
        }
        &::placeholder {
            color: $cm-gray--300;
        }
    }
    .form-check {
        padding-left: 30px;
        @media only screen and (max-width: 1600px) {
            width: 30%;
            & ~ div {
                width: 70%;
            }
        }

        .form-check-input[type="checkbox"] {
            margin-top: 1px;
            border-radius: 0.15rem;
            border: 3px solid $cm-gray--300;
            /* Extra small devices (phones, 600px and down) */
            @media only screen and (max-width: 600px) {
                margin-right: 0px;
            }
        }
        .form-check-input:checked {
            background-color: $cm-primary;
        }
        .form-check-input:checked {
            background-color: $cm-primary;
        }

        .form-check-input:focus {
            border-color: $cm-primary;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13, 253, 141, 0.25);
        }
    }
    .input-wrapper {
        position: relative;
        .form-error {
            padding: 8px;
            font-weight: 600;
            border-radius: 6px;
            background-color: #dc3545;
            color: #121625;
            position: absolute;
            width: 90%;
            bottom: -115%;
            &::after {
                content: "";
                display: block;
                height: 0;
                width: 0;
                border-color: transparent transparent #dc3545 transparent;
                border-style: solid;
                border-width: 0px 12px 16px;
                position: absolute;
                left: 6%;
                top: -15px;
            }
        }
    }
}

/* Botones */
.btn {
    border-radius: $cm-border--radius;
    padding: 7px 14px 10px 10px;
    font-size: 15px;
    font-weight: 700;
}

.btn-primary {
    background-color: $cm-primary;
    border-color: $cm-primary;
}

.btn-secondary{
    background-color: $cm-gray--300;
    border: 1px solid $cm-gray--300;
}

.btn-outline-secondary {
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
    padding: 5px 14px 5px 10px !important;
    color: $cm-black;
    background-color: $cm-white;
    border: 1px solid $cm-gray--200;
    i {
        margin-right: 12px;
        font-size: 19px;
    }
    &:hover,
    &:active,
    &:focus {
        color: $cm-black;
        background-color: $cm-gray--200;
        border-color: $cm-gray--200;
        box-shadow: none !important;
    }
}

/* Footer */
#footer {
    font-size: 12px;
    line-height: 20px;
    margin-top: auto;
    p {
        margin-bottom: 0;
    }
}
