@import "../../styles/css/variables";

/* Tabla */
.cm-table {

    .table {
        margin-top: 15px;
        border-radius: 20px;
        background-color: white;
        border-collapse: separate;
        border: solid $cm-gray--200 1px;
    
        tbody {
            border-top: none !important;
        }
        td,
        th {
            border-top: none;
        }
        th {
            color: $cm-gray--300;
            font-size: 11px;
            letter-spacing: 0.01rem;
            text-transform: uppercase;
            padding: 13px 24px;
            i {
                cursor: pointer;
                margin-left: 12px;
            }
        }
        td {
            font-size: 15px;
            font-weight: 600;
            padding: 20px 24px;
        }
        .tags {
            span {
                background-color: $cm-primary;
                color: $cm-white;
                text-transform: uppercase;
                font-size: 12px;
                padding: 5px 8px 4px;
                margin-right: 6px;
                border-radius: 6px;
            }
        }
    }
    
}