@import "../../styles/css/variables";
/** Estilos pagina index **/

.candidate-dashboard {
    display: flex;
    gap: 40px;
    padding: 0px 80px 80px 80px;
}
/** Pdf Reader **/
.curriculum{
    flex-basis: 70%;
    .pdf-reader{
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}
.candidate-form {
    flex-basis: 30%;
    background-color: $cm-white;
    padding: 24px;
    border: 1px solid #E6E6EA;
    box-sizing: border-box;
    border-radius: 20px;
    .profile {
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 24px;
        img {
            width: 90px;
            height: 90px;
            border-radius: 20px;
            border: #e5e5e5 5px solid;
        }
        h1 {
            font-weight: 800;
            font-size: 24px;
            line-height: 28px;
        }

        .profile-location {
            display: flex;
            flex-flow: row;
            color: $cm-gray--300;
            i {
                vertical-align: baseline;
                -webkit-label-stroke: 0px;
                font-size: 15px;
            }
            h2 {
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                margin-left: 12px;
                margin-bottom: -3px;
                margin-top: 1px;
            }
        }
    }
    form {
        margin-top: 48px;
        i {
            font-size: 16px;
            -webkit-text-stroke: 0px;
        }
        .btn-secondary {
            margin-right: 10px;
            i {
                margin-right: 12px;
            }
        }
        .tags {
            margin-bottom: 15px;
        }

        /* Form */
        .form-label {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 12px;
            letter-spacing: -0.01em;
        }

        .form-control {
            border-radius: $cm-border--radius;
            font-size: inherit;
            line-height: 12px;
            padding: 10px 15px;
            margin-bottom: 30px;
            background-color: $cm-gray--100;
            border-color: $cm-gray--100;
            color: $cm-black;
            font-weight: 500;
            &:focus {
                color: #212529;
                background-color: #fff;
                border-color: $cm-primary;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgba(13, 253, 141, 0.25);
            }
            &::placeholder {
                color: $cm-black;
                font-weight: 500;
            }
        }
        .form-select,  .css-1s2u09g-control {
            padding: 9px 15px 8px 15px;
            margin-bottom: 28px !important;
            border-radius: $cm-border--radius;
            font-size: inherit;
            background-color: $cm-gray--100;
            border-color: $cm-gray--100;
            color: $cm-black;
            font-weight: 500;
            &:focus {
                color: #212529;
                font-weight: 500;
                background-color: #fff;
                border-color: $cm-primary;
                outline: 0;
                box-shadow: none;
            }
            &::placeholder {
                color: $cm-black;
                font-weight: 500;
            }
            option {
                max-width: 100%;
                font-weight: 500;
            }
        }
        .tag-selector{
            .form-control{
                padding: 0;
                margin-bottom: 15px;
            }
            .tag-select__control{
                padding: 0;
                margin-bottom: 0 !important;
                justify-content: flex-end;
            }
            .tag-select__indicator-separator{
                display: none;
            }
            .tag-select__dropdown-indicator{
                svg{
                    width: 18px;
                    height: 18px;
                    fill: rgb(78, 78, 78);
                }
            }
            .tag-select__multi-value{
                display: none;
            }
            .tag-select__clear-indicator{
                display: none;
            }
        }
        .form-check {
            padding-left: 30px;
            .form-check-input[type="checkbox"] {
                margin-top: 1px;
                margin-right: 13px;
                border-radius: 0.15rem;
                border: 3px solid $cm-gray--300;
            }
            .form-check-input:checked {
                background-color: $cm-primary;
            }
            .form-check-input:checked {
                background-color: $cm-primary;
            }

            .form-check-input:focus {
                border-color: $cm-primary;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgba(13, 253, 141, 0.25);
            }
        }
        /*File Upload*/
        .file-upload{
            position: relative;
            height: 100%;
            #cv-upload{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0;
                cursor: pointer;
            }
            p{
                margin-bottom: 0;
                
            }
        }

        .file-error {
            margin-top: 8px;
            color: red;
        }
        /*Tag list*/
        .tag-list {
            span {
                display: inline-block;
                background-color: $cm-gray--200;
                color: $cm-black;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 600;
                padding: 5px 12px 4px;
                margin-right: 6px;
                margin-bottom: 7px;
                border-radius: 20px;
                svg {
                    font-size: 16px;
                    margin-left: 8px;
                    vertical-align: sub;
                    color: $cm-gray--300;
                }
            }
        }
    }
}

.search {
    position: relative;
    i {
        position: absolute;
        top: 10px;
        left: 16px;
    }
    .form-control {
        width: 354px;
        margin-bottom: 0;
        padding: 9px 15px 8px 44px;
        border-radius: $cm-border--radius;
        font-size: inherit;
        background-color: $cm-gray--200;
        border-color: $cm-gray--200;
        color: $cm-black;
        font-weight: 500;
        &:focus {
            color: #212529;
            font-weight: 500;
            background-color: #fff;
            border-color: $cm-primary;
            outline: 0;
            box-shadow: none;
        }
        &::placeholder {
            color: $cm-black;
            font-weight: 500;
        }
    }
}
